.main {
	width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto;   
}

.name {
	display: flex;
	flex-direction: column;
	font-size: 4em;
	font-family: 'Roboto Light', sans-serif;
	opacity:0;
	animation: show 3s 1;
	animation-fill-mode: forwards;
}

.social {
	width: 40%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	opacity:0;
	animation: show 3s 1;
	animation-fill-mode: forwards;
}

@keyframes show{
0%{
opacity:0;
}
100% {
opacity:1;
}
}

@media (max-width: 1000px) {
	.social {
		width: 45%;
	}
}

@media (max-width: 800px) {
	.social {
		width: 50%;
	}
}

@media (max-width: 700px) {
	.social {
		width: 55%;

	}
}

@media (max-width: 500px) {
	.social {
		width: 60%;
	}
}

@media (max-width: 350px) {
	.social {
		width: 65%;
		margin-left: 2%;
	}
}

